--title ActiveInteractor
--readme README.md
--markup-provider redcarpet
--markup markdown
--exclude lib/rails
--protected
--no-private
--embed-mixins
--plugin activesupport-concern
lib/**/*.rb
-
CHANGELOG.md
LICENSE
