name: Deploy

on:
  release:
    types:
      - published

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1.1.2
        with:
          ruby-version: 2.6
          architecture: x64
      - name: Bundle install
        run: gem install bundler && bundler install --jobs 4  --retry 3
      - name: Rake specs
        run: bundle exec rake spec
      - name: Rake build
        run: bundle exec rake build
  publish:
    name: Publish
    needs:
      - test
    if: success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1.1.2
        with:
          ruby-version: 2.6
          architecture: x64
      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_AUTH_TOKEN}}
      - name: Publish to GPR
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:github: Bearer ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push --KEY github --host https://rubygems.pkg.github.com/${OWNER} *.gem
        env:
          GEM_HOST_API_KEY: ${{secrets.GPR_AUTH_TOKEN}}
          OWNER: aaronmallen
